@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=Gulzar&family=Mirza:wght@600&family=Reem+Kufi:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Qahiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    direction: rtl;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'amiri', 'cursive';
}
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* 1- sidebar  */
a {
    text-decoration: none;
}

li {
    list-style: none;
}

.wrapper {
    display: flex;
    height: 100vh;
    position: relative; /* Ensure proper positioning of child elements */

}

#sidebar {
    width: 70px;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #009973;
    display: flex;
    position: fixed;
    flex-direction: column;
}

#sidebar.expand {
    width: 300px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}
.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo img{
    margin: 10px 0;
    height: 50px;
    width: 110px;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    margin-right: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    color: #fff;
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    white-space: nowrap;
    border-left: 3px solid transparent;
}
/* background hover for links */
#sidebar ul li a.sidebar-link:hover{
    color: #009973;
    font-weight: bold;
    background-color: #fff;
    padding-right: 6px;
    transition: .3s;
    border-radius: 0px 30px 30px 0px;
}
#sidebar ul li a span:focus{
    color: #009973;
    font-weight: bold;
    background-color: #fff;
    padding-right: 6px;
    transition: 0s;
    border-radius: 0px 30px 30px 0px;
}

.sidebar-item {
    position: relative;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

/* ------------------------------------------------ */

/* 2- attendance */

section .attendance-table{
    margin:20px;
    background-color: #e4dcdc4b;
    border-collapse: collapse;
    box-shadow: 3px 2px 2px rgba(177, 173, 173, 0.623);
    border-radius: 15px;
    text-align: center;
    
}
section .attendance-table thead tr{
    font-weight: bold;
    font-family: 'amiri', 'cursive';
    font-size: 24px;
    color: #009973;
    border-bottom: 1px solid #00997344;
    
}
.attendance-table th,td{
    padding: 20px;
    margin-top: 10px;
    border-left: 1px solid #8e919044;
    border-bottom:  1px solid #8e919044;
    border-radius: 15px;
}
.attendance-table td{
    color: #2f3e46f5;
}